@using BlogProject.DTO
@model BlogListDTO

@{
    ViewBag.Title = "Blog Detayı Title";
    ViewBag.VisibleRouteSection = true;
    Layout = "~/Views/Shared/BlogLayout.cshtml";
}

<script src="~/admin/highlight/highlight.min.js"></script>
<link href="~/admin/highlight/styles/base16/onedark.min.css" rel="stylesheet" />

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="main-container fl-wrap fix-container-init">
                    <!-- single-post-header  -->
                    <div class="single-post-header fl-wrap">
                        <a class="post-category-marker" href="category.html">@Model.Blog.Category.Name</a>
                        <div class="clearfix"></div>
                        <h1>@Model.Blog.Title</h1>
                        <div class="clearfix"></div>
                        <div class="author-link"><a href="author-single.html"><img src="~/gmag/images/avatar/2.jpg" alt="">  <span>@Model.Blog.Writer.Name @Model.Blog.Writer.Surname</span></a></div>
                        <span class="post-date"><i class="far fa-clock"></i> @Model.Blog.ObjectIDate </span>
                        <ul class="post-opt">
                            <li><i class="far fa-comments-alt"></i> @Model.Blog.CommnetCount </li>
                            <li><i class="fal fa-eye"></i>  @Model.Blog.ViewsCount </li>
                        </ul>
                    </div>
                    <!-- single-post-header end   -->
                    <!-- single-post-media   -->
                    <div class="single-post-media fl-wrap">
                        <div class="single-slider-wrap fl-wrap">
                            <div class="single-slider fl-wrap">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper lightgallery">
                                        <!-- swiper-slide   -->
                                        <div class="swiper-slide hov_zoom">
                                            <img src="@Model.Blog.MainImage" alt="">
                                            <a href="~/gmag/images/all/20.jpg" class="box-media-zoom   popup-image"><i class="fas fa-search"></i></a>
                                            <span class="post-media_title pmd_vis">© Image Copyrights Title</span>
                                        </div>
                                        <!-- swiper-slide end   -->
@*                                         <!-- swiper-slide   -->
                                        <div class="swiper-slide hov_zoom">
                                            <img src="~/gmag/images/all/13.jpg" alt="">
                                            <a href="~/gmag/images/all/13.jpg" class="box-media-zoom   popup-image"><i class="fas fa-search"></i></a>
                                            <span class="post-media_title pmd_vis">© Image Copyrights Title</span>
                                        </div>
                                        <!-- swiper-slide end   --> *@
                                    </div>
                                </div>
                            </div>
                            <div class="ss-slider-controls2">
                                <div class="ss-slider-pagination pag-style"></div>
                            </div>
                            <div class="ss-slider-cont ss-slider-cont-prev"><i class="fas fa-caret-left"></i></div>
                            <div class="ss-slider-cont ss-slider-cont-next"><i class="fas fa-caret-right"></i></div>
                        </div>
                    </div>
                    <!-- single-post-media end   -->
                    <!-- single-post-content   -->
                    <div class="single-post-content spc_column fl-wrap">
                        <div class="single-post-content_column">
                            <div class="share-holder ver-share fl-wrap">
                                <div class="share-title">Bu Yazıyı <br> Paylaş:</div>
                                <div class="share-container  isShare"></div>
                            </div>
                        </div>
                        <div class="fs-wrap smpar fl-wrap">
                            <div class="fontSize"><span class="fs_title">Yazı Boyutu </span><input type="text" class="rage-slider" data-step="1" data-min="10" data-max="15" value="12"></div>
                            <div class="show-more-snopt smact"><i class="fal fa-ellipsis-v"></i></div>
                            <div class="show-more-snopt-tooltip">
                                <a href="#comments" class="custom-scroll-link"> <i class="fas fa-comment-alt"></i> Yorum Yap</a>
                                @* <a href="post-single.html#"> <i class="fas fa-exclamation-triangle"></i> Raporla </a> *@
                            </div>
                            <a class="print-btn" href="javascript:window.print()" data-microtip-position="bottom"><span>Yazdır</span><i class="fal fa-print"></i></a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="single-post-content_text" style="text-align:left;all:initial;" id="font_chage">

                            @Html.Raw(Model.Blog.Content)



                            
                            <p class="has-drop-cap">Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo dignissim congue. Mauris elementum accumsan leo vel tempor . Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo dignissim congue. Mauris elementum accumsan leo vel tempor</p>
                            <h4 class="mb_head">Middle Post Heading</h4>
                            <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo dignissim congue. Mauris elementum accumsan leo vel tempor . Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo dignissim congue. Mauris elementum accumsan leo vel tempor</p>
                            <div class="single-post-content_text_media fl-wrap">
                                <div class="row">
                                    <div class="col-md-6"><img src="~/gmag/images/all/21.jpg" alt="" class="respimg"></div>
                                    <div class="col-md-6">
                                        <p> Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia magna vel molestie faucibus. </p>
                                        <p> Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia magna vel molestie faucibus. </p>
                                    </div>
                                </div>
                            </div>
                            <p class="has-drop-cap">> Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia magna vel molestie faucibus. </p>
                            <h4 class="mb_head ">Middle Post Heading</h4>
                            <div class="single-post-content_text_media fl-wrap">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="has-drop-cap">  Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia magna vel molestie faucibus.  faucibus.Cras lacinia magna vel molestie faucibus.   </p>
                                    </div>
                                    <div class="col-md-6"><img src="~/gmag/images/all/18.jpg" alt="" class="respimg"></div>
                                </div>
                            </div>
                            <p> Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia magna vel molestie faucibus. </p>
                            <blockquote>
                                <p> Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia magna vel molestie faucibus. </p>
                            </blockquote>
                            <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo dignissim congue. Mauris elementum accumsan leo vel tempor . Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo dignissim congue. Mauris elementum accumsan leo vel tempor</p>
                            <p>  Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo dignissim congue. Mauris elementum accumsan leo vel tempor.</p>
                            
                         </div>
                        <div class="single-post-footer fl-wrap">
                            <div class="post-single-tags">
                                <span class="tags-title"><i class="fas fa-tag"></i> Etiketler : </span>
                                <div class="tags-widget">
                                    @foreach (var item in Model.Tags)
                                    {
                                        <a href="post-single.html#">@item.Tags.Name</a>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- single-post-nav"   -->
                        <div class="single-post-nav fl-wrap">
                            <a href="post-single.html" class="single-post-nav_prev spn_box">
                                <div class="spn_box_img">
                                    <img src="~/gmag/images/all/2.jpg" class="respimg" alt="">
                                </div>
                                <div class="spn-box-content">
                                    <span class="spn-box-content_subtitle"><i class="fas fa-caret-left"></i> Prev Post</span>
                                    <span class="spn-box-content_title">New VR Glasses and Headset System Release</span>
                                </div>
                            </a>
                            <a href="post-single.html" class="single-post-nav_next spn_box">
                                <div class="spn_box_img">
                                    <img src="~/gmag/images/all/20.jpg" class="respimg" alt="">
                                </div>
                                <div class="spn-box-content">
                                    <span class="spn-box-content_subtitle">Next Post <i class="fas fa-caret-right"></i></span>
                                    <span class="spn-box-content_title">$310m to help businesses in latest Lockdow</span>
                                </div>
                            </a>
                        </div>
                        <!-- single-post-nav"  end   -->
                    </div>
                    <!-- single-post-content  end   -->
                    <div class="limit-box2 fl-wrap"></div>
                    <!-- post-author-->
                    <div class="post-author fl-wrap">
                        <div class="author-img">
                            <img src="~/gmag/images/avatar/2.jpg" alt="">
                        </div>
                        <div class="author-content fl-wrap">
                            <h5>Yazar <a href="author-single.html">Furkan Ayyıldız</a></h5>
                            <p>At one extremity the rope was unstranded, and the separate spread yarns were all braided and woven round the socket of the harpoon; the pole was then driven hard up into the socket..</p>
                        </div>
                        <div class="profile-card-footer fl-wrap">
                            <a href="author-single.html" class="post-author_link">PROFİLİ GÖRÜNTÜLE <i class="fas fa-caret-right"></i></a>
                            <div class="profile-card-footer_soc">
                                <div class="profile-card-footer_title">Takip: </div>
                                <div class="profile-card-social">
                                    <ul>
                                        <li><a href="post-single.html#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="post-single.html#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="post-single.html#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="post-single.html#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--post-author end-->
                    <div class="more-post-wrap  fl-wrap">
                        <div class="pr-subtitle prs_big">Son Yazılar</div>
                        <div class="list-post-wrap list-post-wrap_column fl-wrap">
                            <div class="row">
                                <div class="col-md-6">
                                    <!--list-post-->
                                    <div class="list-post fl-wrap">
                                        <a class="post-category-marker" href="category.html">Science</a>
                                        <div class="list-post-media">
                                            <a href="post-single.html">
                                                <div class="bg-wrap">
                                                    <div class="bg" data-bg="~/gmag/images/all/16.jpg"></div>
                                                </div>
                                            </a>
                                            <span class="post-media_title">&copy; Image Copyrights Title</span>
                                        </div>
                                        <div class="list-post-content">
                                            <h3><a href="post-single.html">How to start Home renovation.</a></h3>
                                            <span class="post-date"><i class="far fa-clock"></i>  05 April 2022</span>
                                        </div>
                                    </div>
                                    <!--list-post end-->
                                </div>
                                <div class="col-md-6">
                                    <!--list-post-->
                                    <div class="list-post fl-wrap">
                                        <a class="post-category-marker" href="category.html">Sports</a>
                                        <div class="list-post-media">
                                            <a href="post-single.html">
                                                <div class="bg-wrap">
                                                    <div class="bg" data-bg="~/gmag/images/all/24.jpg"></div>
                                                </div>
                                            </a>
                                            <span class="post-media_title">&copy; Image Copyrights Title</span>
                                        </div>
                                        <div class="list-post-content">
                                            <h3><a href="post-single.html">Warriors face season defining clash</a></h3>
                                            <span class="post-date"><i class="far fa-clock"></i> 11 March 2022</span>
                                        </div>
                                    </div>
                                    <!--list-post end-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--comments  -->
                    <div id="comments" class="single-post-comm fl-wrap">
                        <div class="pr-subtitle prs_big">Yorumlar  <span>3</span></div>
                        <ul class="commentlist clearafix">
                            <li class="comment">
                                <div class="comment-author">
                                    <img alt="" src="~/gmag/images/avatar/2.jpg" width="50" height="50">
                                </div>
                                <div class="comment-body smpar">
                                    <h4><a href="post-single.html#">Kevin Antony</a></h4>
                                    <div class="box-widget-menu-btn smact"><i class="far fa-ellipsis-h"></i></div>
                                    <div class="show-more-snopt-tooltip bxwt">
                                        <a href="post-single.html#"> <i class="fas fa-reply"></i> Cevapla</a>
                                        <a href="post-single.html#"> <i class="fas fa-exclamation-triangle"></i> Raporla </a>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo.</p>
                                    <a class="comment-reply-link" href="post-single.html#"><i class="fas fa-reply"></i> Cevapla</a>
                                    <div class="comment-meta"><i class="far fa-clock"></i> January 02, 2020</div>
                                    <div class="comment-body_dec"></div>
                                </div>
                            </li>
                            <li class="comment comment_reply">
                                <div class="comment-author">
                                    <img alt="" src="~/gmag/images/avatar/4.jpg" width="50" height="50">
                                </div>
                                <div class="comment-body smpar">
                                    <h4><a href="post-single.html#">Liza Rose</a></h4>
                                    <div class="box-widget-menu-btn smact"><i class="far fa-ellipsis-h"></i></div>
                                    <div class="show-more-snopt-tooltip bxwt">
                                        <a href="post-single.html#"> <i class="fas fa-reply"></i> Cevapla</a>
                                        <a href="post-single.html#"> <i class="fas fa-exclamation-triangle"></i> Raporla </a>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p>  In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                                    <a class="comment-reply-link" href="post-single.html#"><i class="fas fa-reply"></i> Cevapla</a>
                                    <div class="comment-meta"><i class="far fa-clock"></i> January 02, 2020</div>
                                    <div class="comment-body_dec"></div>
                                </div>
                            </li>
                            <li class="comment">
                                <div class="comment-author">
                                    <img alt="" src="~/gmag/images/avatar/4.jpg" width="50" height="50">
                                </div>
                                <div class="comment-body smpar">
                                    <h4><a href="post-single.html#">Liza Rose</a></h4>
                                    <div class="box-widget-menu-btn smact"><i class="far fa-ellipsis-h"></i></div>
                                    <div class="show-more-snopt-tooltip bxwt">
                                        <a href="post-single.html#"> <i class="fas fa-reply"></i> Reply</a>
                                        <a href="post-single.html#"> <i class="fas fa-exclamation-triangle"></i> Report </a>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p> Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                                    <a class="comment-reply-link" href="post-single.html#"><i class="fas fa-reply"></i> Reply</a>
                                    <div class="comment-meta"><i class="far fa-clock"></i> January 02, 2020</div>
                                    <div class="comment-body_dec"></div>
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <div id="addcom" class="clearafix">
                            <div class="pr-subtitle"> Leave A Comment <i class="fas fa-caret-down"></i></div>
                            <div class="comment-reply-form fl-wrap">
                                <form id="add-comment" class="add-comment custom-form">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" placeholder="Your Name *" value="" />
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" placeholder="Email Address*" value="" />
                                            </div>
                                        </div>
                                        <textarea placeholder="Your Comment:"></textarea>
                                    </fieldset>
                                    <button class="btn float-btn color-btn">  Submit Comment <i class="fas fa-caret-right"></i> </button>
                                </form>
                            </div>
                        </div>
                        <!--end respond-->
                    </div>
                    <!--comments end -->
                </div>
            </div>
            <div class="col-md-4">
                <!-- sidebar   -->
                <div class="sidebar-content fl-wrap fixed-bar">
                    @await Html.PartialAsync("~/Views/Shared/Partial/BoxWidgetPartial.cshtml")
                </div>
                <!-- sidebar  end -->
            </div>
        </div>
        <div class="limit-box fl-wrap"></div>
    </div>
</section>

<script>hljs.highlightAll();</script>
