@using EntityLayer.Concrete
@model List<Blog>

<div class="box-widget fl-wrap">
    <div class="box-widget-content">
        <div class="single-grid-slider slider_widget">
            <div class="slider_widget_title">Yazarın Seçimi</div>
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    @foreach (var blog in Model)
                    {
                        <!-- swiper-slide-->
                        <div class="swiper-slide">
                            <div class="grid-post-item     fl-wrap">
                                <div class="grid-post-media gpm_sing">
                                    <div class="bg-wrap">
                                        <div class="bg" data-bg="@blog.ThumbnailImage"></div>
                                        <div class="overlay"></div>
                                    </div>
                                    <div class="grid-post-media_title">
                                        <a class="post-category-marker" href="#">@blog.Category.Name</a>
                                        <h4><a href="post-single.html">@blog.Title</a></h4>
                                        <span class="video-date"><i class="far fa-clock"></i>@blog.ObjectIDate</span>
                                        <ul class="post-opt">
                                            <li><i class="far fa-comments-alt"></i> @blog.CommnetCount </li>
                                            <li><i class="fal fa-eye"></i>  @blog.ViewsCount </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- swiper-slide end-->
                    }

                </div>
                <div class="sgs-pagination sgs_hor "></div>
            </div>
        </div>
    </div>
</div>
