@using BlogProject.ViewModels
@model BlogMailViewModel

@{
    ViewData["Title"] = "BlogMail";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content text-center p-md">

                <a href="/Blog/Detail/@Model.Blog.UrlTitle" target="_blank"><h2><span class="text-navy">@Model.Blog.Title
                </span></h2></a>
                Mail gönderilecek olan blog
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-comment fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Yorum </span>
                    <h2 class="font-bold">@Model.Blog.CommnetCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-eye  fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Görümtülenme </span>
                    <h2 class="font-bold">@Model.Blog.ViewsCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-envelope-o fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Mail Abonesi </span>
                    <h2 class="font-bold">@Model.SubscribeCount</h2>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.SucsflyMailCount >= 1)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="widget red-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-exclamation-triangle fa-4x"></i>
                    <h1 class="font-bold no-margins">
                        Uyarı
                    </h1>
                    <br />
                    <p>Bu blog için daha önceden mail gönderimi gerçekleştirilmiş</p>
                    <h3 class="m-xs">Başarılı : @Model.SucsflyMailCount</h3>
                    <h3 class="m-xs">Başarısız : @Model.ErrorMailCount</h3>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Blog.ObjectStatus == 1)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Gönderim Onayı</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form asp-controller="Admin" asp-action="BlogMail" method="post" class="form-inline">
                        <input type="hidden" value="@Model.Blog.ObjectId" name="BlogId">

                        <div class="form-group" style="margin-left:15px ;">
                            <label for="exampleInputEmail2" class="sr-only">Mail</label>
                            <input type="email" name="Mail" placeholder="Mail" id="exampleInputEmail2"
                                   class="form-control" required>
                        </div>
                        <div class="form-group" style="margin-left:15px ;">
                            <label for="exampleInputPassword2" class="sr-only">Şifre</label>
                            <input type="password" name="Password" placeholder="Şifre" id="exampleInputPassword2"
                                   class="form-control" required>
                        </div>
                        <div class="form-group" style="margin-left:15px ;">
                            <label for="blogTitle" class="sr-only">Blog Adı</label>
                            <input type="text" name="BlogTitle" placeholder="Blog Adı" id="blogTitle"
                                   class="form-control" required>
                        </div>

                        <button class="btn btn-danger float-right"  type="submit" style="margin-left:15px ;" asp-controller="Admin" asp-action="BlogMail" id="submitBtn">
                            Gönderimi Başlat
                        </button>

                        @if (Model.SendStatus.Value != null && Model.SendStatus.Key==false)
                        {
                            <div style="margin-left:15px ;" class="text-center form-group">
                                <h4 class="text-danger">@Model.SendStatus.Value</h4>
                            </div>
                        }
                        else if (Model.SendStatus.Value != null && Model.SendStatus.Key == true)
                        {
                            <div style="margin-left:15px ;" class="text-center form-group">
                                <h4 class="text-info">@Model.SendStatus.Value</h4>
                            </div>
                        }

                    </form>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-lg-12">
            <div class="widget red-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-exclamation-triangle fa-4x"></i>
                    <h1 class="font-bold no-margins">
                        Uyarı
                    </h1>
                    <br />
                    <h3>Mail Gönderimi gerçekleştirilememektedir</h3>
                    <br />
                    <p>Bu blog pasif durumdadır. Normal kullanıcılar bloğu görememektedir.</p>
                </div>
            </div>
        </div>
    </div>
}


@if (Model.SendStatus.Key == true)
{
    <script>
        var myButton = document.getElementById('submitBtn');
        myButton.disabled = true;
    </script>
}


<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>