@using BlogProject.DTO
@model List<CommentListDTO>

<!--comments  -->
<div id="comments" class="single-post-comm fl-wrap">
    <div class="pr-subtitle prs_big">Yorumlar  <span>3</span></div>

    <ul class="commentlist clearafix">
        @foreach (var commentListDTO in Model)
        {
        <li class="comment">
            <div class="comment-author">
                <img alt="" src="~/gmag/images/avatar/2.jpg" width="50" height="50">
            </div>
            <div class="comment-body smpar">
                <h4><a href="#">@commentListDTO.MainComment.UserName</a></h4>
                <div class="box-widget-menu-btn smact"><i class="far fa-ellipsis-h"></i></div>
                <div class="show-more-snopt-tooltip bxwt">
                    <a href="#"> <i class="fas fa-exclamation-triangle"></i> Raporla </a>
                </div>
                <div class="clearfix"></div>
                    <p>@commentListDTO.MainComment.Content</p>
                    <a class="comment-reply-link" href="#CommentUserName"><i class="fas fa-reply" ></i> Cevapla</a>
                    <div class="comment-meta"><i class="far fa-clock"></i> @commentListDTO.MainComment.ObjectIDate</div>
                <div class="comment-body_dec"></div>
            </div>
        </li>

            foreach (var item in commentListDTO.ReplyComment)
            {
                <li class="comment comment_reply">
                    <div class="comment-author">
                        <img alt="" src="~/gmag/images/avatar/4.jpg" width="50" height="50">
                    </div>
                    <div class="comment-body smpar">
                        <h4><a href="#">@item.UserName</a></h4>
                        <div class="box-widget-menu-btn smact"><i class="far fa-ellipsis-h"></i></div>
                        <div class="show-more-snopt-tooltip bxwt">
                            <a href="#"> <i class="fas fa-exclamation-triangle"></i> Raporla </a>
                        </div>
                        <div class="clearfix"></div>
                        <p>@item.Content</p>
                        <a class="comment-reply-link" href="#"><i class="fas fa-reply"></i> Cevapla</a>
                        <div class="comment-meta"><i class="far fa-clock"></i> @item.ObjectIDate</div>
                        <div class="comment-body_dec"></div>
                    </div>
                </li>
            }

        }
    </ul>
    <div class="clearfix"></div>
    <div id="addcom" class="clearafix">
        <div class="pr-subtitle"> Bir Yorum Ekle 😊 <i class="fas fa-caret-down"></i></div>
        <div class="comment-reply-form fl-wrap">
            <form id="add-comment" class="add-comment custom-form"  method="post">
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="UserName" placeholder="İsim *" value="" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="Useremail" placeholder="Mail *" value="" />
                        </div>
                    </div>
                    <textarea placeholder="Yorum *" name="Content"></textarea>
                </fieldset>
                <button id="btnComment" type="submit" class="btn float-btn color-btn">  Yorum Yap <i class="fas fa-caret-right"></i> </button>
            </form>
        </div>
    </div>
    <!--end respond-->
</div>
<!--comments end -->


<script type="text/javascript">
    var commentButtonId = "#btnComment";
    var commentFormId = "#add-comment";
    var commentFormIdClear = "add-comment";
    var commentActionUrl = '/Comment/AddComment/';
    var commentLoadingGifId = "imgLoadingcomment";

    function commentTemizle(formId) {
        var form = document.getElementById(formId);
        var inputAlanlari = form.elements;
        //input alanlarını temizle
        for (var i = 0; i < inputAlanlari.length; i++) {
            inputAlanlari[i].value = "";
        }
        var paragraflar = form.getElementsByTagName("p");

        // Her bir paragrafın içeriğini temizle
        for (var i = 0; i < paragraflar.length; i++) {
            paragraflar[i].innerHTML = "";
        }
    }

    function commentErrorMessageClear(formId) {
        var form = document.getElementById(formId);
        var paragraflar = form.getElementsByTagName("p");

        // Her bir paragrafın içeriğini temizle
        for (var i = 0; i < paragraflar.length; i++) {
            paragraflar[i].innerHTML = "";
        }
    }

    $(commentButtonId).click(function () {
        //var loadingGif = document.getElementById(commentLoadingGifId);
        //loadingGif.style.display = "inline-block";
        var formData = $(commentFormId).serialize();
        console.log(formData);

        $.ajax({
            type: 'POST',
            url: commentActionUrl,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: formData,
            success: function (result) {
                console.log(result)

                var status = result.status;
                var resultMessages = result.resultMessages;

                if (status) {
                    for (var i = 0; i < resultMessages.length; i++) {
                        showToastMessage(resultMessages[i].message);
                    }
                    loadingGif.style.display = "none";
                    commentTemizle(commentFormIdClear);

                } else {
                    commentErrorMessageClear(commentFormIdClear);
                    for (var i = 0; i < resultMessages.length; i++) {
                        var propertyName = resultMessages[i].propertyName;
                        var message = resultMessages[i].message;
                        document.getElementById(propertyName).innerHTML = message
                    }
                    loadingGif.style.display = "none";
                }

            },
            error: function (result) {
                alert("Bir hata oluştu");
                console.log('Bir hata oluştu');
            }

        });

    });
</script>
